<?xml version="1.0" encoding="UTF-8"?>
<menu id="root-menu">
  <item label="Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
    </action>
  </item>
  <item label="Restart Openbox">
    <action name="Restart"/>
  </item>
  <item label="Exit">
    <action name="Exit"/>
  </item>
</menu>
